body {
    background-image: url(./assets/dishes.jpg);
    background-repeat: no-repeat;
    background-position: right top;
    background-size: cover;
    min-height: 800px;
    background-color: black;
}

.dishes__title {
    font-size: 54px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 700;
    text-align: center;
    color: white;
}

.dishes__input-fields {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    align-content: space-between;
    color: white;
    font-size: 20px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
}
.input-item {
    padding: 20px 20px 0 20px;
    display: flex;
    flex-direction: column;
}

.input-field {
    padding: 8px;
    font-size: 16px;
    margin-top: 8px;
}

.dishes__button-wrapper {
    display: flex;
    justify-content: center;
    padding: 20px 0;
    margin: 0 8px;
}

button {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 500;
    height: 50px;
    width: 300px;
    margin: 20px 0;
    font-size: 20px;
    color: white;
    outline: none;
    border: 2px solid white;
    cursor: pointer;
}

.dishes__result-button {
    background: #783c7f;
    border-right: none;
}

.dishes__result-button:hover {
    background: #5b2961;
}

.dishes__add-participant {
    background: #434380;
}

.dishes__add-participant:hover {
    background: #34346e;
}

.dishes__countdown {
    text-align: center;
    font-size: 40px;
    width: 60%;
    height: 200px;
    margin: 0 auto;
    color: white;
    padding: 25px;
    -webkit-animation: sizingCountdown 1s linear;
    animation: sizingCountdown 1s linear;
    animation-iteration-count: 4;
}

.dishes__result {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 600;
    font-size: 54px;
    color: white;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    -webkit-animation: rotateResult 0.7s linear;
    animation: rotateResult 0.7s linear;
    animation-iteration-count: 3;
}

.hide {
    display: none;
}

@keyframes sizingCountdown {
    from { transform: scale(1); }
    to { transform: scale(1.2); }
}

/* Firefox < 16 */
@-moz-keyframes sizingCountdown {
    from { transform: scale(1); }
    to { transform: scale(1.2); }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes sizingCountdown {
    from { transform: scale(1); }
    to { transform: scale(1.2); }
}

/* Internet Explorer */
@-ms-keyframes sizingCountdown {
    from { transform: scale(1); }
    to { transform: scale(1.2); }
}

/* Opera < 12.1 */
@-o-keyframes sizingCountdown {
    from { transform: scale(1); }
    to { transform: scale(1.2); }
}


@keyframes rotateResult {
    from { transform: rotate(0deg); }
    to { transform: rotate(359deg); }
}

/* Firefox < 16 */
@-moz-keyframes rotateResult {
    from { transform: rotate(0deg); }
    to { transform: rotate(359deg); }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes rotateResult {
    from { transform: rotate(0deg); }
    to { transform: rotate(359deg); }
}

/* Internet Explorer */
@-ms-keyframes rotateResult {
    from { transform: rotate(0deg); }
    to { transform: rotate(359deg); }
}

/* Opera < 12.1 */
@-o-keyframes rotateResult {
    from { transform: rotate(0deg); }
    to { transform: rotate(359deg); }
}
